openapi: 3.0.0
info:
  contact:
    email: support@launchdarkly.com
    name: LaunchDarkly Technical Support Team
    url: https://support.launchdarkly.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: LaunchDarkly REST API
  version: "2.0"
servers:
- url: https://app.launchdarkly.com
security:
- ApiKey:
  - read
  - write
tags:
- name: Access tokens
- name: Account usage
- name: Approvals
- name: Audit log
- name: Code references
- name: Custom roles
- name: Data export destinations
- name: Environments
- name: Experiments
- name: Feature flags
- name: Metrics
- name: Projects
- name: Relay proxy configurations
- name: Scheduled changes
- name: Segments
- name: Team members
- name: Users
- name: User settings
- name: Webhooks
- name: Other
paths:
  /api/v2:
    get:
      description: ' Issue a `GET` request to the root resource to find all of the
        resource categories supported by the API'
      operationId: getRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/inline_response_200'
                type: object
          description: Root response
      summary: Root resource
      tags:
      - Other
  /api/v2/auditlog:
    get:
      description: ' Gets a list of all audit log entries. The query parameters let
        you restrict the results that return by date ranges, resource specifiers,
        or a full-text search query.'
      operationId: getAuditLogEntries
      parameters:
      - description: A timestamp filter, expressed as a Unix epoch time in milliseconds.  All
          entries this returns occurred before the timestamp.
        explode: true
        in: query
        name: before
        required: false
        schema:
          description: A timestamp filter, expressed as a Unix epoch time in milliseconds.  All
            entries this returns occurred before the timestamp.
          format: int64
          type: integer
        style: form
      - description: A timestamp filter, expressed as a Unix epoch time in milliseconds.
          All entries this returns occurred after the timestamp.
        explode: true
        in: query
        name: after
        required: false
        schema:
          description: A timestamp filter, expressed as a Unix epoch time in milliseconds.
            All entries this returns occurred after the timestamp.
          format: int64
          type: integer
        style: form
      - description: Text to search for. You can search for the full or partial name
          of the resource, or full or partial email address of the member who made
          a change.
        explode: true
        in: query
        name: q
        required: false
        schema:
          description: Text to search for. You can search for the full or partial
            name of the resource, or full or partial email address of the member who
            made a change.
          format: string
          type: string
        style: form
      - description: A limit on the number of audit log entries that return. Set between
          1 and 20.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: A limit on the number of audit log entries that return. Set
            between 1 and 20.
          format: int64
          type: integer
        style: form
      - description: A resource specifier that lets you filter audit log listings
          by resource
        explode: true
        in: query
        name: spec
        required: false
        schema:
          description: A resource specifier that lets you filter audit log listings
            by resource
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogEntryListingRepCollection'
          description: Audit log entries response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "429":
          description: Rate limited
      summary: List audit log feature flag entries
      tags:
      - Audit log
  /api/v2/code-refs/repositories:
    get:
      description: ' Retrieves a complete list of connected repositories. Optionally,
        you can include branch metadata with the `withBranches` query parameter. Embed
        references for the default branch with `ReferencesForDefaultBranch`. You can
        also filter the list of code references by project key and flag key.'
      operationId: getRepositories
      parameters:
      - description: If set to any value, the endpoint returns repositories with associated
          branch data
        explode: true
        in: query
        name: withBranches
        required: false
        schema:
          description: If set to any value, the endpoint returns repositories with
            associated branch data
          format: string
          type: string
        style: form
      - description: If set to any value, the endpoint returns repositories with associated
          branch data, as well as code references for the default git branch
        explode: true
        in: query
        name: withReferencesForDefaultBranch
        required: false
        schema:
          description: If set to any value, the endpoint returns repositories with
            associated branch data, as well as code references for the default git
            branch
          format: string
          type: string
        style: form
      - description: A LaunchDarkly project key. If provided, this filters code reference
          results to the specified project.
        explode: true
        in: query
        name: projKey
        required: false
        schema:
          description: A LaunchDarkly project key. If provided, this filters code
            reference results to the specified project.
          format: string
          type: string
        style: form
      - description: If set to any value, the endpoint returns repositories with associated
          branch data, as well as code references for the default git branch
        explode: true
        in: query
        name: flagKey
        required: false
        schema:
          description: If set to any value, the endpoint returns repositories with
            associated branch data, as well as code references for the default git
            branch
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RepositoryCollectionRep'
          description: Repository collection response
        "401":
          description: Invalid access token
        "429":
          description: Rate limited
      summary: List repositories
      tags:
      - Code references
    post:
      description: ' Creates a repository with the specified name'
      operationId: postRepository
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: Repository response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Access to the requested resource was denied
        "429":
          description: Rate limited
      summary: Create repository
      tags:
      - Code references
  /api/v2/code-refs/repositories/{repo}:
    delete:
      description: ' Delete a repository with the specified name'
      operationId: deleteRepository
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      responses:
        "200":
          description: Repository response
        "400":
          description: Invalid request
        "401":
          description: Invalid access token
        "403":
          description: Access to the requested resource was denied
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Delete repository
      tags:
      - Code references
    get:
      description: ' Gets a single repository by name. You can also filter the list
        of code references by project key and flag key.'
      operationId: getRepository
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RepositoryRep'
          description: Repository response
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get repository
      tags:
      - Code references
    patch:
      description: ' Updates a repository''s settings. The request must be a valid
        JSON Patch document describing the changes to be made to the repository.'
      operationId: patchRepository
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.RepositoryRep'
          description: Repository response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Access to the requested resource was denied
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Update repository
      tags:
      - Code references
  /api/v2/code-refs/repositories/{repo}/branches:
    get:
      description: ' Gets a list of branches'
      operationId: getBranches
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BranchCollectionRep'
          description: Branch collection response
        "400":
          description: Invalid request
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: List branches
      tags:
      - Code references
  /api/v2/code-refs/repositories/{repo}/branches/{branch}:
    get:
      description: ' Gets a specific branch in a repository'
      operationId: getBranch
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      - description: The url-encoded branch name
        explode: false
        in: path
        name: branch
        required: true
        schema:
          description: The url-encoded branch name
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BranchRep'
          description: Branch response
        "400":
          description: Invalid request
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get branch
      tags:
      - Code references
    put:
      description: ' Creates a new branch if it doesn''t exist, or updates the branch
        if it already exists'
      operationId: putBranch
      parameters:
      - description: The repository name
        explode: false
        in: path
        name: repo
        required: true
        schema:
          description: The repository name
          format: string
          type: string
        style: simple
      - description: The url-encoded branch name
        explode: false
        in: path
        name: branch
        required: true
        schema:
          description: The url-encoded branch name
          format: string
          type: string
        style: simple
      - description: The current 40-character SHA revision of the git branch
        explode: true
        in: query
        name: head
        required: true
        schema:
          description: The current 40-character SHA revision of the git branch
          format: string
          type: string
        style: form
      - description: A unix epoch time in milliseconds specifying the time code reference
          data was generated
        explode: true
        in: query
        name: syncTime
        required: true
        schema:
          description: A unix epoch time in milliseconds specifying the time code
            reference data was generated
          format: int64
          type: integer
        style: form
      responses:
        "200":
          description: Branch response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Access to the requested resource was denied
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Upsert branch
      tags:
      - Code references
  /api/v2/code-refs/statistics/{projKey}:
    get:
      description: ' Gets the number of code references across repositories for all
        flags in your project that have code references in the default branch (for
        example: master). You can optionally include the `flagKey` query parameter
        to get the number of code references across repositories for a single flag.
        This endpoint returns the number of times your flag keys are referenced in
        your repositories. You can filter to a single flag with by passing in a flag
        key.'
      operationId: getStatistics
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag key
        explode: true
        in: query
        name: flagKey
        required: false
        schema:
          description: The feature flag key
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatisticCollectionRep'
          description: Statistic collection response
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get number of code references for flags
      tags:
      - Code references
  /api/v2/destinations:
    get:
      description: ' Gets a list of Data Export destinations configured across all
        projects and environments.'
      operationId: getDestinations
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationCollectionRep'
          description: Destination collection response
        "401":
          description: Invalid access token
        "429":
          description: Rate limited
      summary: List destinations
      tags:
      - Data export destinations
  /api/v2/destinations/{projKey}/{envKey}:
    post:
      description: ' Creates a new destination. The `config` body parameter represents
        the configuration parameters required for a destination type.'
      operationId: postDestination
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestinationPostRep'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationRep'
          description: Destination response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create data export destination
      tags:
      - Data export destinations
  /api/v2/destinations/{projKey}/{envKey}/{id}:
    delete:
      description: ' Deletes Data Export destination by ID'
      operationId: deleteDestination
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The data export destination ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The data export destination ID
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Destination response
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Delete Data Export destination
      tags:
      - Data export destinations
    get:
      description: ' Gets a single Data Export destination by ID'
      operationId: getDestination
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The Data Export destination ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The Data Export destination ID
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationRep'
          description: Destination response
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get destination
      tags:
      - Data export destinations
    patch:
      description: ' Updates a Data Export destination. This requires a JSON Patch
        representation of the modified destination.'
      operationId: patchDestination
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The Data Export destination ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The Data Export destination ID
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationRep'
          description: Destination response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Update Data Export destination
      tags:
      - Data export destinations
  /api/v2/flag-status/{projKey}/{key}:
    get:
      description: ' Get the status for a particular feature flag across environments.'
      operationId: getFeatureFlagStatusAcrossEnvironments
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The feature flag key
          format: string
          type: string
        style: simple
      - description: Filter configurations by environment
        explode: true
        in: query
        name: env
        required: true
        schema:
          description: Filter configurations by environment
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagStatusRepFromEnvSummaries'
          description: Flag status across environments response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get feature flag status
      tags:
      - Feature flags
  /api/v2/flag-statuses/{projKey}/{envKey}:
    get:
      description: ' Get a list of statuses for all feature flags. The status includes
        the last time the feature flag was requested, as well as the state of the
        flags.'
      operationId: getFeatureFlagStatuses
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: Filter configurations by environment
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: Filter configurations by environment
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagStatusCollectionRep'
          description: Flag Statuses collection response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List feature flag statuses
      tags:
      - Feature flags
  /api/v2/flag-statuses/{projKey}/{envKey}/{key}:
    get:
      description: ' Get the status for a particular feature flag.'
      operationId: getFeatureFlagStatus
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The feature flag key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The feature flag key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlagStatusRep'
          description: Flag status response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List feature flag statuses
      tags:
      - Feature flags
  /api/v2/flags/{projKey}:
    get:
      description: ' Gets a list of all features in the given project. By default,
        each feature includes configurations for each environment. You can filter
        environments with the `env` query parameter. For example, setting `env=production`
        only returns configurations in the `production` environment. You can also
        filter feature flags by tag with the `tag` query parameter.'
      operationId: getFeatureFlags
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: Filter configurations by environment
        explode: true
        in: query
        name: env
        required: false
        schema:
          description: Filter configurations by environment
          format: string
          type: string
        style: form
      - description: Filter feature flags by tag
        explode: true
        in: query
        name: tag
        required: false
        schema:
          description: Filter feature flags by tag
          format: string
          type: string
        style: form
      - description: The number of feature flags to return. Defaults to -1, which
          returns all flags.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          description: The number of feature flags to return. Defaults to -1, which
            returns all flags.
          format: int64
          type: integer
        style: form
      - description: Where to start in the list. Use this with pagination. For example,
          an offset of 10 skips the first 10 items and then returns the next limit
          items.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          description: Where to start in the list. Use this with pagination. For example,
            an offset of 10 skips the first 10 items and then returns the next limit
            items.
          format: int64
          type: integer
        style: form
      - description: A string that matches against the flags' keys and names. It is
          not case sensitive.
        explode: true
        in: query
        name: query
        required: false
        schema:
          description: A string that matches against the flags' keys and names. It
            is not case sensitive.
          format: string
          type: string
        style: form
      - description: A boolean to filter the list to archived flags. When this is
          absent, only unarchived flags will be returned.
        explode: true
        in: query
        name: archived
        required: false
        schema:
          description: A boolean to filter the list to archived flags. When this is
            absent, only unarchived flags will be returned.
          format: boolean
          type: boolean
        style: form
      - description: By default in api version >= 1, flags will _not_ include their
          list of prerequisites, targets or rules.  Set summary=0 to include these
          fields for each flag returned.
        explode: true
        in: query
        name: summary
        required: false
        schema:
          description: By default in api version >= 1, flags will _not_ include their
            list of prerequisites, targets or rules.  Set summary=0 to include these
            fields for each flag returned.
          format: boolean
          type: boolean
        style: form
      - description: A string that lets you filter by temporary or permanent flags.
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: A string that lets you filter by temporary or permanent flags.
          format: string
          type: string
        style: form
      - description: A boolean with values of `true` or `false`. It returns any flags
          that have an attached metric.
        explode: true
        in: query
        name: hasExperiment
        required: false
        schema:
          description: A boolean with values of `true` or `false`. It returns any
            flags that have an attached metric.
          format: boolean
          type: boolean
        style: form
      - description: A boolean with values of `true` or `false`. That returns any
          flags that are currently exporting data in the specified environment. This
          includes flags that are exporting data from experiments. This filter also
          requires a `filterEnv` field, set to a valid environment key. For example,
          `filter=hasExperiment:true,filterEnv:production`.
        explode: true
        in: query
        name: hasDataExport
        required: false
        schema:
          description: A boolean with values of `true` or `false`. That returns any
            flags that are currently exporting data in the specified environment.
            This includes flags that are exporting data from experiments. This filter
            also requires a `filterEnv` field, set to a valid environment key. For
            example, `filter=hasExperiment:true,filterEnv:production`.
          format: boolean
          type: boolean
        style: form
      - description: A string with the key of a valid environment. The `filterEnv`
          field is for filters that are environment specific. If there are multiple
          environment specific filters, only declare this parameter once. For example,
          `filter=evaluated:{
        explode: true
        in: query
        name: filterEnv
        required: false
        schema:
          description: A string with the key of a valid environment. The `filterEnv`
            field is for filters that are environment specific. If there are multiple
            environment specific filters, only declare this parameter once. For example,
            `filter=evaluated:{
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFlagCollectionRep'
          description: Global flags collection response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List feature flags
      tags:
      - Feature flags
    post:
      description: ' Creates a feature flag with the given name, key, and variations'
      operationId: postFeatureFlag
      parameters:
      - description: The project key. This connects flags within one project so you
          can manage them together.
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key. This connects flags within one project so
            you can manage them together.
          format: string
          type: string
        style: simple
      - description: The key of the feature flag to be cloned. The key identifies
          the flag in your code. For example, setting `clone=flagKey` copies the full
          targeting configuration for all environments, including `on/off` state,
          from the original flag to the new flag.
        explode: true
        in: query
        name: clone
        required: false
        schema:
          description: The key of the feature flag to be cloned. The key identifies
            the flag in your code. For example, setting `clone=flagKey` copies the
            full targeting configuration for all environments, including `on/off`
            state, from the original flag to the new flag.
          format: string
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalFlagRep'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFlagRep'
          description: Global flag response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create a feature flag
      tags:
      - Feature flags
  /api/v2/flags/{projKey}/{envKey}/{flagKey}/dependent-flags:
    get:
      description: ' List dependent flags across all environments for the flag specified
        in the path parameters. A dependent flag is a flag that uses another flag
        as a prerequisite.'
      operationId: getDependentFlagsByEnv
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The flag key
        explode: false
        in: path
        name: flagKey
        required: true
        schema:
          description: The flag key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentFlagsCollectionRep'
          description: Dependent flags collection response
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List dependent feature flags by environment
      tags:
      - Feature flags
  /api/v2/flags/{projKey}/{featureFlagKey}/copy:
    post:
      description: ' Copies the feature flag configuration from one environment and
        creates a feature flag with that configuration in another environment'
      operationId: copyFeatureFlag
      parameters:
      - description: The project key. This connects flags within one project so you
          can manage them together.
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key. This connects flags within one project so
            you can manage them together.
          format: string
          type: string
        style: simple
      - description: The feature flag's key. The key identifies the flag in your code.
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key. The key identifies the flag in your
            code.
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/flags.FlagCopyConfigPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFlagRep'
          description: Global flag response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "405":
          description: Method not allowed
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Copy feature flag
      tags:
      - Feature flags
  /api/v2/flags/{projKey}/{flagKey}/dependent-flags:
    get:
      description: ' List dependent flags across all environments for the flag specified
        in the path parameters. A dependent flag is a flag that uses another flag
        as a prerequisite.'
      operationId: getDependentFlags
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The flag key
        explode: false
        in: path
        name: flagKey
        required: true
        schema:
          description: The flag key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiEnvDependentFlagsCollectionRep'
          description: Multi environment dependent flags collection response
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List dependent feature flags
      tags:
      - Feature flags
  /api/v2/flags/{projKey}/{flagKey}/experiments/{envKey}/{metricKey}/results:
    delete:
      description: ' Resets all experiment results by deleting all existing data for
        an experiment'
      operationId: resetExperiment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: flagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The metric's key
        explode: false
        in: path
        name: metricKey
        required: true
        schema:
          description: The metric's key
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Experiment results reset successfully
        "403":
          description: Forbidden
        "404":
          description: Flag or metric not found
        "429":
          description: Rate limited
      summary: Reset experiment results
      tags:
      - Experiments
  /api/v2/flags/{projKey}/{key}:
    delete:
      description: ' Deletes a feature flag in all environments. Use with caution:
        only delete feature flags your application no longer uses.'
      operationId: deleteFeatureFlag
      parameters:
      - description: The project key. This connects flags within one project so you
          can manage them together.
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key. This connects flags within one project so
            you can manage them together.
          format: string
          type: string
        style: simple
      - description: The feature flag's key. The key identifies the flag in your code.
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The feature flag's key. The key identifies the flag in your
            code.
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Delete flag by key
      tags:
      - Feature flags
    get:
      description: ' Gets a single feature flag by key. By default, this returns the
        configurations for all environments. You can filter environments with the
        `env` query parameter. For example, setting `env=production` restricts the
        returned configurations to just the `production` environment.'
      operationId: getFeatureFlag
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The feature flag key
          format: string
          type: string
        style: simple
      - description: Filter configurations by environment
        explode: true
        in: query
        name: env
        required: false
        schema:
          description: Filter configurations by environment
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFlagRep'
          description: Global flag response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get feature flag
      tags:
      - Feature flags
    patch:
      description: ' Perform a partial update to a feature'
      operationId: patchFeatureFlag
      parameters:
      - description: The project key. This connects flags within one project so you
          can manage them together.
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key. This connects flags within one project so
            you can manage them together.
          format: string
          type: string
        style: simple
      - description: The feature flag's key. The key identifies the flag in your code.
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The feature flag's key. The key identifies the flag in your
            code.
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWithComment'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalFlagRep'
          description: Global flag response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Update feature flag
      tags:
      - Feature flags
  /api/v2/members:
    post:
      description: ' Invite one or more new team members to join an account. Each
        member will be sent an invitation. Members with "admin" or "owner" roles may
        create new members, as well as anyone with a "createMember" permission for
        "member/*". If for some reason, a member cannot be invited, the entire request
        will be rejected and no members will be invited for that request.'
      operationId: postMembers
      requestBody:
        content:
          application/json:
            schema:
              items:
                $ref: '#/components/schemas/InlineObject'
              type: array
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberCollectionRep'
          description: Members response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Invite new members
      tags:
      - Team members
  /api/v2/members/{id}:
    delete:
      description: ' Delete a single team member by ID'
      operationId: deleteMember
      parameters:
      - description: The member ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The member ID
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: '-'
      summary: Delete team member by ID
      tags:
      - Team members
    get:
      description: ' Fetch a single team member by ID'
      operationId: getMember
      parameters:
      - description: The member ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The member ID
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberRep'
          description: Member response JSON
      summary: Get team member by ID
      tags:
      - Team members
    patch:
      description: ' Modify a single team member by ID'
      operationId: patchMember
      parameters:
      - description: The member ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The member ID
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberRep'
          description: Member response JSON
      summary: Modify a team member by ID
      tags:
      - Team members
  /api/v2/metrics/{projectKey}:
    get:
      description: ' Get a list of all metrics for the specified project.'
      operationId: getMetrics
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricCollectionRep'
          description: Metrics response JSON
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
      summary: List metrics
      tags:
      - Metrics
    post:
      description: ' Create a new metric in the specified project. Note that the expected
        POST body differs depending on the specified kind property.'
      operationId: postMetric
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/metrics.MetricPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricRep'
          description: Successful metric response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource specifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create metric
      tags:
      - Metrics
  /api/v2/metrics/{projectKey}/{key}:
    delete:
      description: ' Delete a metric by key.'
      operationId: deleteMetric
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The metric key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The metric key
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Delete metric
      tags:
      - Metrics
    get:
      description: ' Get information for a single metric from the specific project.'
      operationId: getMetric
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The metric key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The metric key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricRep'
          description: Metric response JSON
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get metric
      tags:
      - Metrics
    patch:
      description: ' Patch a environment by key.'
      operationId: patchMetric
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The metric key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The metric key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricRep'
          description: Metric response JSON
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Update metric
      tags:
      - Metrics
  /api/v2/openapi.json:
    get:
      description: ' The OpenAPI spec endpoint serves the latest version of the OpenAPI
        specification for LaunchDarkly''s API in json format.'
      operationId: getOpenapiSpec
      responses:
        "200":
          description: OpenAPI Spec
      summary: Gets the OpenAPI spec in json
      tags:
      - Other
  /api/v2/projects:
    get:
      description: ' Fetch all projects'
      operationId: getProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectCollectionRep'
          description: Project collection response JSON
        "401":
          description: Invalid access token
      summary: Get all projects
      tags:
      - Projects
    post:
      description: ' Create a new project with the given key and name'
      operationId: postProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRep'
          description: Successful project response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create project
      tags:
      - Projects
  /api/v2/projects/{projKey}/experiments:
    post:
      description: ' Creates a new experiment with the parameters you provide'
      operationId: postExperiment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentSummaryRep'
          description: Successful experiment response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create experiment
      tags:
      - Experiments
  /api/v2/projects/{projKey}/{flagKey}/experiments/{envKey}/{metricKey}:
    get:
      description: ' Gets detailed experiment result data'
      operationId: getExperiment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The flag key
        explode: false
        in: path
        name: flagKey
        required: true
        schema:
          description: The flag key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The metric key
        explode: false
        in: path
        name: metricKey
        required: true
        schema:
          description: The metric key
          format: string
          type: string
        style: simple
      - description: A timestamp denoting the start of the data collection period,
          expressed as a Unix epoch time in milliseconds.
        explode: true
        in: query
        name: from
        required: false
        schema:
          description: A timestamp denoting the start of the data collection period,
            expressed as a Unix epoch time in milliseconds.
          format: int64
          type: integer
        style: form
      - description: A timestamp denoting the end of the data collection period, expressed
          as a Unix epoch time in milliseconds.
        explode: true
        in: query
        name: to
        required: false
        schema:
          description: A timestamp denoting the end of the data collection period,
            expressed as a Unix epoch time in milliseconds.
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentResultsRep'
          description: Experiment results response
        "400":
          description: Invalid request
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get experiment results
      tags:
      - Experiments
  /api/v2/projects/{projectKey}:
    delete:
      description: ' Delete a project by key. Caution: deleting a project will delete
        all associated environments and feature flags. You cannot delete the last
        project in an account.'
      operationId: deleteProject
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "404":
          description: Unknown project key
        "429":
          description: Rate limited
      summary: Delete project by key
      tags:
      - Projects
    get:
      description: ' Fetch a single project by key.'
      operationId: getProject
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRep'
          description: Project response JSON
        "401":
          description: Invalid access token
        "404":
          description: Unknown project key
        "429":
          description: Rate limited
      summary: Get project by key
      tags:
      - Projects
    patch:
      description: ' Patch a project by key.'
      operationId: patchProject
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectRep'
          description: Project response JSON
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Unknown project key
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Patch project by key
      tags:
      - Projects
  /api/v2/projects/{projectKey}/environments:
    post:
      description: ' Create a new environment with the given key and name'
      operationId: postEnvironment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentPost'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRep'
          description: Successful environment response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create environment
      tags:
      - Environments
  /api/v2/projects/{projectKey}/environments/{environmentKey}:
    delete:
      description: ' Delete a environment by key.'
      operationId: deleteEnvironment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Delete environment by key
      tags:
      - Environments
    get:
      description: ' Fetch a single environment by key.'
      operationId: getEnvironment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRep'
          description: Environment response JSON
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get environment by key
      tags:
      - Environments
    patch:
      description: ' Patch a environment by key.'
      operationId: patchEnvironment
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvironmentRep'
          description: Environment response JSON
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Patch environment by key
      tags:
      - Environments
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/copy/environments/{environmentKey}/approval-requests-flag-copy:
    post:
      description: ' Create an approval request to copy a feature flag''s configuration
        across environments.'
      operationId: postCopyFlagConfigApprovalRequest
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvals_endpoints.createCopyFlagConfigApprovalRequestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "409":
          description: Conflict
        "429":
          description: Rate limited
      summary: Create approval request to copy flag configurations across environments
      tags:
      - Approvals
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests:
    get:
      description: ' Get all approval requests for a feature flag'
      operationId: getApprovals
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request response
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get all approval requests
      tags:
      - Approvals
    post:
      description: ' Create an approval request for a feature flag'
      operationId: postApprovalRequest
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvals_endpoints.createFlagConfigApprovalRequestRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "429":
          description: Rate limited
      summary: Create approval request
      tags:
      - Approvals
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{id}:
    delete:
      description: ' Delete an approval request for a feature flag'
      operationId: deleteApprovalRequest
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The feature flag approval request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The feature flag approval request ID
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Delete approval request
      tags:
      - Approvals
    get:
      description: ' Get a single approval request for a feature flag'
      operationId: getApproval
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The feature flag approval request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The feature flag approval request ID
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request response
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get approval request
      tags:
      - Approvals
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{id}/apply:
    post:
      description: ' Apply approval request by either approving or declining changes.'
      operationId: postApprovalRequestApplyRequest
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The feature flag approval request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The feature flag approval request ID
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvals_endpoints.postApprovalRequestApplyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request apply response
        "400":
          description: Bad request
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Apply approval request
      tags:
      - Approvals
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{id}/reviews:
    post:
      description: ' Review approval request by either approving or declining changes.'
      operationId: postApprovalRequestReview
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The feature flag approval request ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The feature flag approval request ID
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approvals_endpoints.postApprovalRequestReviewRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.FlagConfigApprovalRequestResponse'
          description: Successful approval request review response
        "400":
          description: Bad request
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Review approval request
      tags:
      - Approvals
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes:
    get:
      description: ' Get a list of scheduled changes that will be applied to the feature
        flag.'
      operationId: getFlagConfigScheduledChanges
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChangesCollectionRep'
          description: Scheduled changes collection response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
      summary: List scheduled changes
      tags:
      - Scheduled changes
    post:
      description: ' Create scheduled changes for a feature flag. If the ignoreConficts
        query parameter is false and the new instructions would conflict with the
        current state of the feature flag or any existing scheduled changes, the request
        will fail. If the parameter is true and there are conflicts, the request will
        succeed as normal.'
      operationId: postFlagConfigScheduledChanges
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: Pass in true to error on conflicts with current flag state or
          existing scheduled changes
        explode: true
        in: query
        name: ignoreConflicts
        required: false
        schema:
          description: Pass in true to error on conflicts with current flag state
            or existing scheduled changes
          format: boolean
          type: boolean
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/web.PostFlagScheduledChangesInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChangesRep'
          description: Successful scheduled changes response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "405":
          description: Method not allowed
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create scheduled changes workflow
      tags:
      - Scheduled changes
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes-conflicts:
    post:
      description: ' Compare the proposed instructions with each other and the existing
        scheduled changes to find conflicts that would prevent the existing scheduled
        changes from executing correctly if the proposed instructions were saved.
        PLEASE NOTE that this requires the WebDAV REPORT method and not the POST method.'
      operationId: getFlagConfigScheduledChangesConflicts
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/web.ReportFlagScheduledChangesInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/web.ConflictResponse'
          description: Conflicts response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: List conflicts for proposed instructions
      tags:
      - Scheduled changes
  /api/v2/projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/scheduled-changes/{id}:
    delete:
      description: ' Delete a scheduled changes workflow'
      operationId: deleteFlagConfigScheduledChanges
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The scheduled change id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The scheduled change id
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "405":
          description: Method not allowed
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Delete scheduled changes workflow
      tags:
      - Scheduled changes
    get:
      description: ' Gets a scheduled change that will be applied to the feature flag
        by id.'
      operationId: getFeatureFlagScheduledChange
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The scheduled change id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The scheduled change id
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChangesRep'
          description: Scheduled change response
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource identifier
        "429":
          description: Rate limited
      summary: Get a scheduled change
      tags:
      - Scheduled changes
    patch:
      description: ' Update a scheduled change, overriding existing instructions with
        the new ones.'
      operationId: patchFlagConfigScheduledChange
      parameters:
      - description: The project key
        explode: false
        in: path
        name: projectKey
        required: true
        schema:
          description: The project key
          format: string
          type: string
        style: simple
      - description: The feature flag's key
        explode: false
        in: path
        name: featureFlagKey
        required: true
        schema:
          description: The feature flag's key
          format: string
          type: string
        style: simple
      - description: The environment key
        explode: false
        in: path
        name: environmentKey
        required: true
        schema:
          description: The environment key
          format: string
          type: string
        style: simple
      - description: The scheduled change id
        explode: false
        in: path
        name: id
        required: true
        schema:
          description: The scheduled change id
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/web.FlagScheduledChangesInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledChangesRep'
          description: Successful scheduled changes response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "403":
          description: Forbidden
        "404":
          description: Invalid resource identifier
        "405":
          description: Method not allowed
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Update scheduled changes workflow
      tags:
      - Scheduled changes
  /api/v2/public-ip-list:
    get:
      description: ' The public IP endpoint provides a list of IP ranges the LaunchDarkly
        service uses. You can use this list to allow LaunchDarkly through your firewall.
        This endpoint returns a JSON object with two attributes: `addresses` and `outboundAddresses`.
        The `addresses` element contains the IP addresses LaunchDarkly''s service
        uses. The `outboundAddresses` element contains the IP addresses outgoing webhook
        notifications use. We post upcoming changes to this list in advance on our
        status page https://status.launchdarkly.com/.'
      operationId: getIps
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api2.ipList'
          description: Public IP response
      summary: Gets the public IP list
      tags:
      - Other
  /api/v2/roles:
    get:
      description: ' Returns a complete list of custom roles. Custom roles let you
        create flexible policies providing fine-grained access control to everything
        in LaunchDarkly, from feature flags to goals, environments, and teams. With
        custom roles, it''s possible to enforce access policies that meet your exact
        workflow needs. Custom roles are available to customers on our enterprise
        plans. If you''re interested in learning more about our enterprise plans,
        contact sales@launchdarkly.com.'
      operationId: getCustomRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRoleCollectionRep'
          description: Custom roles collection response.
        "401":
          description: Invalid access token.
        "429":
          description: Rate limited
      summary: List custom roles
      tags:
      - Custom roles
    post:
      description: ' Creates a new custom role'
      operationId: postCustomRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/roles.StatementPostList'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRoleRep'
          description: Custom role response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Create custom role
      tags:
      - Custom roles
  /api/v2/roles/{key}:
    delete:
      description: ' Deletes a custom role by key'
      operationId: deleteCustomRole
      parameters:
      - description: The key of the custom role to delete
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The key of the custom role to delete
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Action completed successfully
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Delete custom role
      tags:
      - Custom roles
    get:
      description: ' Gets a single custom role by key'
      operationId: getCustomRole
      parameters:
      - description: The custom role's key
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The custom role's key
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRoleRep'
          description: Custom role response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "429":
          description: Rate limited
      summary: Get custom role
      tags:
      - Custom roles
    patch:
      description: ' Updates a single custom role. The request must be a valid JSON
        Patch document describing the changes to be made to the custom role.'
      operationId: patchCustomRole
      parameters:
      - description: The key of the custom role to update
        explode: false
        in: path
        name: key
        required: true
        schema:
          description: The key of the custom role to update
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONPatch'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRoleRep'
          description: Custom role response
        "400":
          description: Invalid request body
        "401":
          description: Invalid access token
        "404":
          description: Invalid resource specifier
        "409":
          description: Status conflict
        "429":
          description: Rate limited
      summary: Update custom role
      tags:
      - Custom roles
  /api/v2/segments/{projKey}/{envKey}:
    get:
      description: ' Gets a list of all user segments in the given project'
      operationId: getSegments
      parameters:
      - description: The project key. This connects flags within one project so you
          can manage them together.
        explode: false
        in: path
        name: projKey
        required: true
        schema:
          description: The project key. This connects flags within one project so
            you can manage them together.
          format: string
          type: string
        style: simple
      - description: The environment key. This connects flag configurations and users
          within one environment so you can manage them together.
        explode: false
        in: path
        name: envKey
        required: true
        schema:
          description: The environment key. This connects flag configurations and
            users within one environment so you can manage them together.
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalSegmentCollectionRep'
          description: Segment collection response
        "401":
[...]
