---
swagger: "2.0"
info:
  description: "Build custom integrations with the LaunchDarkly REST API"
  version: "3.9.0"
  title: "LaunchDarkly REST API"
  termsOfService: "https://launchdarkly.com/terms"
  contact:
    name: "LaunchDarkly Support"
    url: "https://support.launchdarkly.com"
    email: "support@launchdarkly.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "app.launchdarkly.com"
basePath: "/api/v2"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
security:
- Token: []
paths:
  /projects:
    get:
      tags:
      - "Projects"
      summary: "Returns a list of all projects in the account."
      operationId: "getProjects"
      parameters: []
      responses:
        200:
          description: "Projects response"
          schema:
            $ref: "#/definitions/Projects"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Projects"
      summary: "Create a new project with the given key and name."
      operationId: "postProject"
      parameters:
      - in: "body"
        name: "projectBody"
        description: "Project keys must be unique within an account."
        required: true
        schema:
          $ref: "#/definitions/projectBody"
        x-exportParamName: "ProjectBody"
      responses:
        201:
          description: "Successful Project response."
          schema:
            $ref: "#/definitions/Project"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /projects/{projectKey}:
    get:
      tags:
      - "Projects"
      summary: "Fetch a single project by key."
      operationId: "getProject"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      responses:
        200:
          description: "Successful Project response."
          schema:
            $ref: "#/definitions/Project"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Projects"
      summary: "Delete a project by key. Caution-- deleting a project will delete\
        \ all associated environments and feature flags. You cannot delete the last\
        \ project in an account."
      operationId: "deleteProject"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Projects"
      summary: "Modify a project by ID."
      operationId: "patchProject"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Successful Project response."
          schema:
            $ref: "#/definitions/Project"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /projects/{projectKey}/environments:
    post:
      tags:
      - "Environments"
      summary: "Create a new environment in a specified project with a given name,\
        \ key, and swatch color."
      operationId: "postEnvironment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - in: "body"
        name: "environmentBody"
        description: "New environment."
        required: true
        schema:
          $ref: "#/definitions/EnvironmentPost"
        x-exportParamName: "EnvironmentBody"
      responses:
        201:
          description: "Environment response."
          schema:
            $ref: "#/definitions/Environment"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /projects/{projectKey}/environments/{environmentKey}:
    get:
      tags:
      - "Environments"
      summary: "Get an environment given a project and key."
      operationId: "getEnvironment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      responses:
        200:
          description: "Environment response."
          schema:
            $ref: "#/definitions/Environment"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Environments"
      summary: "Delete an environment in a specific project."
      operationId: "deleteEnvironment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Environments"
      summary: "Modify an environment by ID."
      operationId: "patchEnvironment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Environment response."
          schema:
            $ref: "#/definitions/Environment"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /projects/{projectKey}/environments/{environmentKey}/apiKey:
    post:
      tags:
      - "Environments"
      summary: "Reset an environment's SDK key with an optional expiry time for the\
        \ old key."
      operationId: "resetEnvironmentSDKKey"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "expiry"
        in: "query"
        description: "An expiration time for the old environment SDK key, expressed\
          \ as a Unix epoch time in milliseconds. By default, the key will expire\
          \ immediately."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Expiry"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Environment response."
          schema:
            $ref: "#/definitions/Environment"
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /projects/{projectKey}/environments/{environmentKey}/mobileKey:
    post:
      tags:
      - "Environments"
      summary: "Reset an environment's mobile key. The optional expiry for the old\
        \ key is deprecated for this endpoint, so the old key will always expire immediately."
      operationId: "resetEnvironmentMobileKey"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "expiry"
        in: "query"
        description: "The expiry parameter is deprecated for this endpoint, so the\
          \ old mobile key will always expire immediately. This parameter will be\
          \ removed in an upcoming major API client version."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Expiry"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Environment response."
          schema:
            $ref: "#/definitions/Environment"
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /flags/{projectKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get a list of all features in the given project."
      operationId: "getFeatureFlags"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "env"
        in: "query"
        description: "By default, each feature will include configurations for each\
          \ environment. You can filter environments with the env query parameter.\
          \ For example, setting env=[\"production\"] will restrict the returned configurations\
          \ to just your production environment."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Env"
      - name: "summary"
        in: "query"
        description: "By default in api version >= 1, flags will _not_ include their\
          \ list of prerequisites, targets or rules.  Set summary=0 to include these\
          \ fields for each flag returned."
        required: false
        type: "boolean"
        x-exportParamName: "Summary"
        x-optionalDataType: "Bool"
      - name: "archived"
        in: "query"
        description: "When set to 1, only archived flags will be included in the list\
          \ of flags returned.  By default, archived flags are not included in the\
          \ list of flags."
        required: false
        type: "boolean"
        x-exportParamName: "Archived"
        x-optionalDataType: "Bool"
      - name: "limit"
        in: "query"
        description: "The number of objects to return. Defaults to -1, which returns\
          \ everything."
        required: false
        type: "number"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "offset"
        in: "query"
        description: "Where to start in the list. This is for use with pagination.\
          \ For example, an offset of 10 would skip the first 10 items and then return\
          \ the next limit items."
        required: false
        type: "number"
        x-exportParamName: "Offset"
        x-optionalDataType: "Float32"
      - name: "filter"
        in: "query"
        description: "A comma-separated list of filters. Each filter is of the form\
          \ field:value."
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "A comma-separated list of fields to sort by. A field prefixed\
          \ by a - will be sorted in descending order."
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      - name: "tag"
        in: "query"
        description: "Filter by tag. A tag can be used to group flags across projects."
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Flags response."
          schema:
            $ref: "#/definitions/FeatureFlags"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Feature flags"
      summary: "Creates a new feature flag."
      operationId: "postFeatureFlag"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - in: "body"
        name: "featureFlagBody"
        description: "Create a new feature flag."
        required: true
        schema:
          $ref: "#/definitions/featureFlagBody"
        x-exportParamName: "FeatureFlagBody"
      - name: "clone"
        in: "query"
        description: "The key of the feature flag to be cloned. The key identifies\
          \ the flag in your code.  For example, setting clone=flagKey will copy the\
          \ full targeting configuration for all environments (including on/off state)\
          \ from the original flag to the new flag."
        required: false
        type: "string"
        x-exportParamName: "Clone"
        x-optionalDataType: "String"
      responses:
        201:
          description: "Flag response."
          schema:
            $ref: "#/definitions/FeatureFlag"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /flags/{projectKey}/{featureFlagKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get a single feature flag by key."
      operationId: "getFeatureFlag"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "env"
        in: "query"
        description: "By default, each feature will include configurations for each\
          \ environment. You can filter environments with the env query parameter.\
          \ For example, setting env=[\"production\"] will restrict the returned configurations\
          \ to just your production environment."
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Env"
      responses:
        200:
          description: "Flag response."
          schema:
            $ref: "#/definitions/FeatureFlag"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Feature flags"
      summary: "Delete a feature flag in all environments. Be careful-- only delete\
        \ feature flags that are no longer being used by your application."
      operationId: "deleteFeatureFlag"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Feature flags"
      summary: "Perform a partial update to a feature."
      operationId: "patchFeatureFlag"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - in: "body"
        name: "patchComment"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project, and an optional comment. 'http://jsonpatch.com/' Feature\
          \ flag patches also support JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386'\
          \ The addition of comments is also supported."
        required: true
        schema:
          $ref: "#/definitions/patchComment"
        x-exportParamName: "PatchComment"
      responses:
        200:
          description: "Feature flag response."
          schema:
            $ref: "#/definitions/FeatureFlag"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /flags/{projectKey}/{featureFlagKey}/copy:
    post:
      tags:
      - "Feature flags"
      summary: "Copies the feature flag configuration from one environment to the\
        \ same feature flag in another environment."
      operationId: "copyFeatureFlag"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - in: "body"
        name: "featureFlagCopyBody"
        description: "Copy feature flag configurations between environments."
        required: true
        schema:
          $ref: "#/definitions/featureFlagCopyBody"
        x-exportParamName: "FeatureFlagCopyBody"
      responses:
        201:
          description: "Flag configuration copy response."
          schema:
            $ref: "#/definitions/FeatureFlag"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /flag-statuses/{projectKey}/{environmentKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get a list of statuses for all feature flags. The status includes\
        \ the last time the feature flag was requested, as well as the state of the\
        \ flag."
      operationId: "getFeatureFlagStatuses"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      responses:
        200:
          description: "List of feature flag statuses."
          schema:
            $ref: "#/definitions/FeatureFlagStatuses"
        401:
          description: "Invalid access token."
  /flag-statuses/{projectKey}/{environmentKey}/{featureFlagKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get the status for a particular feature flag."
      operationId: "getFeatureFlagStatus"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      responses:
        200:
          description: "Status of the requested feature flag."
          schema:
            $ref: "#/definitions/FeatureFlagStatus"
        401:
          description: "Invalid access token."
  /flag-status/{projectKey}/{featureFlagKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get the status for a particular feature flag across environments"
      operationId: "getFeatureFlagStatusAcrossEnvironments"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      responses:
        200:
          description: "Status of the requested feature flag across environments"
          schema:
            $ref: "#/definitions/FeatureFlagStatusAcrossEnvironments"
        401:
          description: "Invalid access token."
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /flags/{projectKey}/{featureFlagKey}/expiring-user-targets/{environmentKey}:
    get:
      tags:
      - "Feature flags"
      summary: "Get expiring user targets for feature flag"
      operationId: "getExpiringUserTargets"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      responses:
        200:
          description: "User targets of the requested feature flag."
          schema:
            $ref: "#/definitions/UserTargetingExpirationForFlags"
        401:
          description: "Invalid access token."
    patch:
      tags:
      - "Feature flags"
      summary: "Update, add, or delete expiring user targets on feature flag"
      operationId: "patchExpiringUserTargets"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - in: "body"
        name: "SemanticPatchWithComment"
        description: "Requires a Semantic Patch representation of the desired changes\
          \ to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'.\
          \ The addition of comments is also supported."
        required: true
        schema:
          type: "object"
        x-exportParamName: "SemanticPatchWithComment"
      responses:
        200:
          description: "User targeting expirations on feature flag response."
          schema:
            $ref: "#/definitions/UserTargetingExpirationForFlags"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests:
    get:
      tags:
      - "Feature flags"
      summary: "Get all change requests for a feature flag"
      operationId: "getFeatureFlagChangeRequests"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      responses:
        200:
          description: "Feature flag change requests response"
          schema:
            $ref: "#/definitions/FeatureFlagChangeRequests"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    post:
      tags:
      - "Feature flags"
      operationId: "postFeatureFlagChangeRequest"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - in: "body"
        name: "featureFlagChangeRequestConfigBody"
        description: "Create a new feature flag change request"
        required: false
        schema:
          $ref: "#/definitions/featureFlagChangeRequestConfigBody"
        x-exportParamName: "FeatureFlagChangeRequestConfigBody"
      responses:
        200:
          description: "Feature flag change request response"
          schema:
            $ref: "#/definitions/FeatureFlagChangeRequest"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{featureFlagChangeRequestId}:
    get:
      tags:
      - "Feature flags"
      summary: "Get a single change request for a feature flag"
      operationId: "getFeatureFlagChangeRequest"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagChangeRequestId"
        in: "path"
        description: "The feature flag change request ID"
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagChangeRequestId"
      responses:
        200:
          description: "Feature flag change request response"
          schema:
            $ref: "#/definitions/FeatureFlagChangeRequests"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  ? /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{featureFlagChangeRequestId}/apply
  : post:
      tags:
      - "Feature flags"
      summary: "Apply change request for a feature flag"
      operationId: "postApplyFeatureFlagChangeRequest"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagChangeRequestId"
        in: "path"
        description: "The feature flag change request ID"
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagChangeRequestId"
      - in: "body"
        name: "featureFlagChangeRequestApplyConfigBody"
        description: "Apply a new feature flag change request"
        required: true
        schema:
          $ref: "#/definitions/featureFlagChangeRequestApplyConfigBody"
        x-exportParamName: "FeatureFlagChangeRequestApplyConfigBody"
      responses:
        200:
          description: "Feature flag change request applied response"
          schema:
            $ref: "#/definitions/FeatureFlagChangeRequests"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  ? /projects/{projectKey}/flags/{featureFlagKey}/environments/{environmentKey}/approval-requests/{featureFlagChangeRequestId}/review
  : post:
      tags:
      - "Feature flags"
      summary: "Review change request for a feature flag"
      operationId: "postReviewFeatureFlagChangeRequest"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "featureFlagChangeRequestId"
        in: "path"
        description: "The feature flag change request ID"
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagChangeRequestId"
      - in: "body"
        name: "featureFlagChangeRequestReviewConfigBody"
        description: "Review a feature flag change request"
        required: true
        schema:
          $ref: "#/definitions/featureFlagChangeRequestReviewConfigBody"
        x-exportParamName: "FeatureFlagChangeRequestReviewConfigBody"
      responses:
        200:
          description: "Feature flag change request reviewed response"
          schema:
            $ref: "#/definitions/FeatureFlagChangeRequests"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /segments/{projectKey}/{environmentKey}:
    get:
      tags:
      - "User segments"
      summary: "Get a list of all user segments in the given project."
      operationId: "getUserSegments"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "tag"
        in: "query"
        description: "Filter by tag. A tag can be used to group flags across projects."
        required: false
        type: "string"
        x-exportParamName: "Tag"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Segments response."
          schema:
            $ref: "#/definitions/UserSegments"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "User segments"
      summary: "Creates a new user segment."
      operationId: "postUserSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - in: "body"
        name: "userSegmentBody"
        description: "Create a new user segment."
        required: true
        schema:
          $ref: "#/definitions/userSegmentBody"
        x-exportParamName: "UserSegmentBody"
      responses:
        201:
          description: "User segment response."
          schema:
            $ref: "#/definitions/UserSegment"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /segments/{projectKey}/{environmentKey}/{userSegmentKey}:
    get:
      tags:
      - "User segments"
      summary: "Get a single user segment by key."
      operationId: "getUserSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      responses:
        200:
          description: "User segment response."
          schema:
            $ref: "#/definitions/UserSegment"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "User segments"
      summary: "Delete a user segment."
      operationId: "deleteUserSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "User segments"
      summary: "Perform a partial update to a user segment."
      operationId: "patchUserSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      - in: "body"
        name: "PatchOnly"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/' Feature flag patches also support\
          \ JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition\
          \ of comments is also supported."
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchOnly"
      responses:
        200:
          description: "User segment response."
          schema:
            $ref: "#/definitions/UserSegment"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /segments/{projectKey}/{userSegmentKey}/expiring-user-targets/{environmentKey}:
    get:
      tags:
      - "User segments"
      summary: "Get expiring user targets for user segment"
      operationId: "getExpiringUserTargetsOnSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      responses:
        200:
          description: "User targeting expirations on user segment response."
          schema:
            $ref: "#/definitions/UserTargetingExpirationForSegment"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "User segments"
      summary: "Update, add, or delete expiring user targets on user segment"
      operationId: "patchExpiringUserTargetsOnSegment"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      - in: "body"
        name: "SemanticPatchWithComment"
        description: "Requires a Semantic Patch representation of the desired changes\
          \ to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'.\
          \ The addition of comments is also supported."
        required: true
        schema:
          type: "object"
        x-exportParamName: "SemanticPatchWithComment"
      responses:
        200:
          description: "User targeting expirations on user segment response."
          schema:
            $ref: "#/definitions/UserTargetingExpirationForSegment"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /segments/{projectKey}/{environmentKey}/{userSegmentKey}/unbounded-users:
    post:
      tags:
      - "User segments"
      summary: "Update targets included or excluded in an unbounded segment"
      operationId: "updatedUnboundedSegmentTargets"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userSegmentKey"
        in: "path"
        description: "The user segment's key. The key identifies the user segment\
          \ in your code."
        required: true
        type: "string"
        x-exportParamName: "UserSegmentKey"
      - in: "body"
        name: "unboundedSegmentTargetsBody"
        description: "Add or remove user targets to the included or excluded lists\
          \ on an unbounded segment"
        required: true
        schema:
          $ref: "#/definitions/unboundedSegmentTargetsBody"
        x-exportParamName: "UnboundedSegmentTargetsBody"
      responses:
        204:
          description: "Action completed successfully."
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
  /users/{projectKey}/{environmentKey}:
    get:
      tags:
      - "Users"
      summary: "List all users in the environment. Includes the total count of users.\
        \ In each page, there will be up to 'limit' users returned (default 20). This\
        \ is useful for exporting all users in the system for further analysis. Paginated\
        \ collections will include a next link containing a URL with the next set\
        \ of elements in the collection."
      operationId: "getUsers"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "limit"
        in: "query"
        description: "Pagination limit."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "h"
        in: "query"
        description: "This parameter is required when following \"next\" links."
        required: false
        type: "string"
        x-exportParamName: "H"
        x-optionalDataType: "String"
      - name: "scrollId"
        in: "query"
        description: "This parameter is required when following \"next\" links."
        required: false
        type: "string"
        x-exportParamName: "ScrollId"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Users response."
          schema:
            $ref: "#/definitions/Users"
        401:
          description: "Invalid access token."
  /user-search/{projectKey}/{environmentKey}:
    get:
      tags:
      - "Users"
      summary: "Search users in LaunchDarkly based on their last active date, or a\
        \ search query. It should not be used to enumerate all users in LaunchDarkly--\
        \ use the List users API resource."
      operationId: "getSearchUsers"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "q"
        in: "query"
        description: "Search query."
        required: false
        type: "string"
        x-exportParamName: "Q"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Pagination limit."
        required: false
        type: "integer"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "offset"
        in: "query"
        description: "Specifies the first item to return in the collection."
        required: false
        type: "integer"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "after"
        in: "query"
        description: "A timestamp filter, expressed as a Unix epoch time in milliseconds.\
          \ All entries returned will have occurred after this timestamp."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "After"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Users response."
          schema:
            $ref: "#/definitions/Users"
        401:
          description: "Invalid access token."
  /users/{projectKey}/{environmentKey}/{userKey}:
    get:
      tags:
      - "Users"
      summary: "Get a user by key."
      operationId: "getUser"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      responses:
        200:
          description: "User response."
          schema:
            $ref: "#/definitions/User"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Users"
      summary: "Delete a user by ID."
      operationId: "deleteUser"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /users/{projectKey}/{environmentKey}/{userKey}/flags:
    get:
      tags:
      - "User settings"
      summary: "Fetch a single flag setting for a user by key."
      operationId: "getUserFlagSettings"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      responses:
        200:
          description: "User flags settings response."
          schema:
            $ref: "#/definitions/UserFlagSettings"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /users/{projectKey}/{environmentKey}/{userKey}/flags/{featureFlagKey}:
    get:
      tags:
      - "User settings"
      summary: "Fetch a single flag setting for a user by key."
      operationId: "getUserFlagSetting"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      responses:
        200:
          description: "User flag setting response."
          schema:
            $ref: "#/definitions/UserFlagSetting"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    put:
      tags:
      - "User settings"
      summary: "Specifically enable or disable a feature flag for a user based on\
        \ their key."
      operationId: "putFlagSetting"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      - name: "featureFlagKey"
        in: "path"
        description: "The feature flag's key. The key identifies the flag in your\
          \ code."
        required: true
        type: "string"
        x-exportParamName: "FeatureFlagKey"
      - in: "body"
        name: "userSettingsBody"
        required: true
        schema:
          $ref: "#/definitions/userSettingsBody"
        x-exportParamName: "UserSettingsBody"
      responses:
        204:
          description: "Action completed successfully."
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /users/{projectKey}/{userKey}/expiring-user-targets/{environmentKey}:
    get:
      tags:
      - "User settings"
      summary: "Get expiring dates on flags for user"
      operationId: "getExpiringUserTargetsForUser"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      responses:
        200:
          description: "User targets of the requested feature flag."
          schema:
            $ref: "#/definitions/UserTargetingExpirationOnFlagsForUser"
        401:
          description: "Invalid access token."
    patch:
      tags:
      - "User settings"
      summary: "Update, add, or delete expiring user targets for a single user on\
        \ all flags"
      operationId: "patchExpiringUserTargetsForFlags"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "userKey"
        in: "path"
        description: "The user's key."
        required: true
        type: "string"
        x-exportParamName: "UserKey"
      - in: "body"
        name: "SemanticPatchWithComment"
        description: "Requires a Semantic Patch representation of the desired changes\
          \ to the resource. 'https://apidocs.launchdarkly.com/reference#updates-via-semantic-patches'.\
          \ The addition of comments is also supported."
        required: true
        schema:
          type: "object"
        x-exportParamName: "SemanticPatchWithComment"
      responses:
        200:
          description: "User Targeting expiration for single user on all flags response."
          schema:
            $ref: "#/definitions/UserTargetingExpirationOnFlagsForUser"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /auditlog:
    get:
      tags:
      - "Audit log"
      summary: "Get a list of all audit log entries. The query parameters allow you\
        \ to restrict the returned results by date ranges, resource specifiers, or\
        \ a full-text search query."
      operationId: "getAuditLogEntries"
      parameters:
      - name: "before"
        in: "query"
        description: "A timestamp filter, expressed as a Unix epoch time in milliseconds.\
          \ All entries returned will have before this timestamp."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Before"
        x-optionalDataType: "Int64"
      - name: "after"
        in: "query"
        description: "A timestamp filter, expressed as a Unix epoch time in milliseconds.\
          \ All entries returned will have occurred after this timestamp."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "After"
        x-optionalDataType: "Int64"
      - name: "q"
        in: "query"
        description: "Text to search for. You can search for the full or partial name\
          \ of the resource involved or full or partial email address of the member\
          \ who made the change."
        required: false
        type: "string"
        x-exportParamName: "Q"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "A limit on the number of audit log entries to be returned, between\
          \ 1 and 20."
        required: false
        type: "number"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "spec"
        in: "query"
        description: "A resource specifier, allowing you to filter audit log listings\
          \ by resource."
        required: false
        type: "string"
        x-exportParamName: "Spec"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Audit log entries response."
          schema:
            $ref: "#/definitions/AuditLogEntries"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
  /auditlog/{resourceId}:
    get:
      tags:
      - "Audit log"
      summary: "Use this endpoint to fetch a single audit log entry by its resouce\
        \ ID."
      operationId: "getAuditLogEntry"
      parameters:
      - name: "resourceId"
        in: "path"
        description: "The resource ID."
        required: true
        type: "string"
        x-exportParamName: "ResourceId"
      responses:
        200:
          description: "Audit log entry response."
          schema:
            $ref: "#/definitions/AuditLogEntry"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
  /webhooks:
    get:
      tags:
      - "Webhooks"
      summary: "Fetch a list of all webhooks."
      operationId: "getWebhooks"
      parameters: []
      responses:
        200:
          description: "Webhooks response."
          schema:
            $ref: "#/definitions/Webhooks"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Webhooks"
      summary: "Create a webhook."
      operationId: "postWebhook"
      parameters:
      - in: "body"
        name: "webhookBody"
        description: "New webhook."
        required: true
        schema:
          $ref: "#/definitions/webhookBody"
        x-exportParamName: "WebhookBody"
      responses:
        201:
          description: "Webhook response."
          schema:
            $ref: "#/definitions/Webhook"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
  /webhooks/{resourceId}:
    get:
      tags:
      - "Webhooks"
      summary: "Get a webhook by ID."
      operationId: "getWebhook"
      parameters:
      - name: "resourceId"
        in: "path"
        description: "The resource ID."
        required: true
        type: "string"
        x-exportParamName: "ResourceId"
      responses:
        200:
          description: "Webhook response."
          schema:
            $ref: "#/definitions/Webhook"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Webhooks"
      summary: "Delete a webhook by ID."
      operationId: "deleteWebhook"
      parameters:
      - name: "resourceId"
        in: "path"
        description: "The resource ID."
        required: true
        type: "string"
        x-exportParamName: "ResourceId"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Webhooks"
      summary: "Modify a webhook by ID."
      operationId: "patchWebhook"
      parameters:
      - name: "resourceId"
        in: "path"
        description: "The resource ID."
        required: true
        type: "string"
        x-exportParamName: "ResourceId"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Webhook response."
          schema:
            $ref: "#/definitions/Webhook"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /roles:
    get:
      tags:
      - "Custom roles"
      summary: "Return a complete list of custom roles."
      operationId: "getCustomRoles"
      parameters: []
      responses:
        200:
          description: "Custom roles response."
          schema:
            $ref: "#/definitions/CustomRoles"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Custom roles"
      summary: "Create a new custom role."
      operationId: "postCustomRole"
      parameters:
      - in: "body"
        name: "customRoleBody"
        description: "New role or roles to create."
        required: true
        schema:
          $ref: "#/definitions/customRoleBody"
        x-exportParamName: "CustomRoleBody"
      responses:
        201:
          description: "Custom role response."
          schema:
            $ref: "#/definitions/CustomRole"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /roles/{customRoleKey}:
    get:
      tags:
      - "Custom roles"
      summary: "Get one custom role by key."
      operationId: "getCustomRole"
      parameters:
      - name: "customRoleKey"
        in: "path"
        description: "The custom role key."
        required: true
        type: "string"
        x-exportParamName: "CustomRoleKey"
      responses:
        200:
          description: "Custom role response."
          schema:
            $ref: "#/definitions/CustomRole"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
    delete:
      tags:
      - "Custom roles"
      summary: "Delete a custom role by key."
      operationId: "deleteCustomRole"
      parameters:
      - name: "customRoleKey"
        in: "path"
        description: "The custom role key."
        required: true
        type: "string"
        x-exportParamName: "CustomRoleKey"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Custom roles"
      summary: "Modify a custom role by key."
      operationId: "patchCustomRole"
      parameters:
      - name: "customRoleKey"
        in: "path"
        description: "The custom role key."
        required: true
        type: "string"
        x-exportParamName: "CustomRoleKey"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Custom role response."
          schema:
            $ref: "#/definitions/CustomRole"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /members:
    get:
      tags:
      - "Team members"
      summary: "Returns a list of all members in the account."
      operationId: "getMembers"
      parameters:
      - name: "limit"
        in: "query"
        description: "The number of objects to return. Defaults to -1, which returns\
          \ everything."
        required: false
        type: "number"
        x-exportParamName: "Limit"
        x-optionalDataType: "Float32"
      - name: "offset"
        in: "query"
        description: "Where to start in the list. This is for use with pagination.\
          \ For example, an offset of 10 would skip the first 10 items and then return\
          \ the next limit items."
        required: false
        type: "number"
        x-exportParamName: "Offset"
        x-optionalDataType: "Float32"
      - name: "filter"
        in: "query"
        description: "A comma-separated list of filters. Each filter is of the form\
          \ field:value."
        required: false
        type: "string"
        x-exportParamName: "Filter"
        x-optionalDataType: "String"
      - name: "sort"
        in: "query"
        description: "A comma-separated list of fields to sort by. A field prefixed\
          \ by a - will be sorted in descending order."
        required: false
        type: "string"
        x-exportParamName: "Sort"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Members response."
          schema:
            $ref: "#/definitions/Members"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Team members"
      summary: "Invite new members."
      operationId: "postMembers"
      parameters:
      - in: "body"
        name: "membersBody"
        description: "New members to invite."
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/membersBody"
        x-exportParamName: "MembersBody"
      responses:
        201:
          description: "Members response."
          schema:
            $ref: "#/definitions/Members"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /members/me:
    get:
      tags:
      - "Team members"
      summary: "Get the current team member associated with the token"
      operationId: "getMe"
      parameters: []
      responses:
        200:
          description: "Member response."
          schema:
            $ref: "#/definitions/Member"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
  /members/{memberId}:
    get:
      tags:
      - "Team members"
      summary: "Get a single team member by ID."
      operationId: "getMember"
      parameters:
      - name: "memberId"
        in: "path"
        description: "The member ID."
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      responses:
        200:
          description: "Member response."
          schema:
            $ref: "#/definitions/Member"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
    delete:
      tags:
      - "Team members"
      summary: "Delete a team member by ID."
      operationId: "deleteMember"
      parameters:
      - name: "memberId"
        in: "path"
        description: "The member ID."
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Team members"
      summary: "Modify a team member by ID."
      operationId: "patchMember"
      parameters:
      - name: "memberId"
        in: "path"
        description: "The member ID."
        required: true
        type: "string"
        x-exportParamName: "MemberId"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Member response."
          schema:
            $ref: "#/definitions/Member"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /destinations:
    get:
      tags:
      - "Data export destinations"
      summary: "Returns a list of all data export destinations."
      operationId: "getDestinations"
      parameters: []
      responses:
        200:
          description: "Destinations response."
          schema:
            $ref: "#/definitions/Destinations"
        401:
          description: "Invalid access token."
  /destinations/{projectKey}/{environmentKey}:
    post:
      tags:
      - "Data export destinations"
      summary: "Create a new data export destination"
      operationId: "postDestination"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - in: "body"
        name: "destinationBody"
        description: "Create a new data export destination."
        required: true
        schema:
          $ref: "#/definitions/destinationBody"
        x-exportParamName: "DestinationBody"
      responses:
        201:
          description: "Destination response."
          schema:
            $ref: "#/definitions/Destination"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /destinations/{projectKey}/{environmentKey}/{destinationId}:
    get:
      tags:
      - "Data export destinations"
      summary: "Get a single data export destination by ID"
      operationId: "getDestination"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "destinationId"
        in: "path"
        description: "The data export destination ID."
        required: true
        type: "string"
        x-exportParamName: "DestinationId"
      responses:
        200:
          description: "Destination response."
          schema:
            $ref: "#/definitions/Destination"
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Data export destinations"
      summary: "Get a single data export destination by ID"
      operationId: "deleteDestination"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "destinationId"
        in: "path"
        description: "The data export destination ID."
        required: true
        type: "string"
        x-exportParamName: "DestinationId"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Data export destinations"
      summary: "Perform a partial update to a data export destination."
      operationId: "patchDestination"
      parameters:
      - name: "projectKey"
        in: "path"
        description: "The project key, used to tie the flags together under one project\
          \ so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - name: "environmentKey"
        in: "path"
        description: "The environment key, used to tie together flag configuration\
          \ and users under one environment so they can be managed together."
        required: true
        type: "string"
        x-exportParamName: "EnvironmentKey"
      - name: "destinationId"
        in: "path"
        description: "The data export destination ID."
        required: true
        type: "string"
        x-exportParamName: "DestinationId"
      - in: "body"
        name: "PatchOnly"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/' Feature flag patches also support\
          \ JSON Merge Patch format. 'https://tools.ietf.org/html/rfc7386' The addition\
          \ of comments is also supported."
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchOnly"
      responses:
        200:
          description: "Destination response."
          schema:
            $ref: "#/definitions/Destination"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /usage:
    get:
      tags:
      - "Customer Metrics"
      summary: "Returns of the usage endpoints available."
      operationId: "getUsage"
      parameters: []
      responses:
        200:
          description: "Usage endpoints"
          schema:
            $ref: "#/definitions/Usage"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /usage/streams:
    get:
      tags:
      - "Customer Metrics"
      summary: "Returns a list of all streams."
      operationId: "getStreams"
      parameters: []
      responses:
        200:
          description: "Stream usage endpoints"
          schema:
            $ref: "#/definitions/Streams"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /usage/streams/{source}:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get a stream endpoint and return timeseries data."
      operationId: "getStream"
      parameters:
      - name: "source"
        in: "path"
        description: "The source of where the stream comes from."
        required: true
        type: "string"
        x-exportParamName: "Source"
      responses:
        200:
          description: "Responds with time series data on stream usage."
          schema:
            $ref: "#/definitions/Stream"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
        404:
          description: "The stream source you requested could not be found"
          schema:
            $ref: "#/definitions/StreamUsageError"
  /usage/streams/{source}/bysdkversion:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get a stream timeseries data by source show sdk version metadata."
      operationId: "getStreamBySDK"
      parameters:
      - name: "source"
        in: "path"
        description: "The source of where the stream comes from."
        required: true
        type: "string"
        x-exportParamName: "Source"
      responses:
        200:
          description: "Returns timeseries data and metadata on sdk version."
          schema:
            $ref: "#/definitions/StreamBySDK"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
        404:
          description: "The stream source you requested could not be found"
          schema:
            $ref: "#/definitions/StreamUsageError"
  /usage/streams/{source}/sdkversions:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get a stream timeseries data by source and show all sdk version associated."
      operationId: "getStreamSDKVersion"
      parameters:
      - name: "source"
        in: "path"
        description: "The source of where the stream comes from."
        required: true
        type: "string"
        x-exportParamName: "Source"
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/StreamSDKVersion"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
        404:
          description: "The stream source you requested could not be found"
          schema:
            $ref: "#/definitions/StreamUsageError"
  /usage/mau:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get monthly active user data."
      operationId: "getMAU"
      parameters: []
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/MAU"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /usage/mau/bycategory:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get monthly active user data by category."
      operationId: "getMAUByCategory"
      parameters: []
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/MAUbyCategory"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /usage/events:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get events usage endpoints."
      operationId: "getEvents"
      parameters: []
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/Events"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
  /usage/events/{type}:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get events usage by event type."
      operationId: "getEvent"
      parameters:
      - name: "type"
        in: "path"
        description: "The type of event we would like to track."
        required: true
        type: "string"
        x-exportParamName: "Type_"
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/StreamSDKVersion"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
        404:
          description: "The stream source you requested could not be found"
          schema:
            $ref: "#/definitions/StreamUsageError"
  /usage/evaluations/{envId}/{flagKey}:
    get:
      tags:
      - "Customer Metrics"
      summary: "Get events usage by event id and the feature flag key."
      operationId: "getEvaluations"
      parameters:
      - name: "envId"
        in: "path"
        description: "The environment id for the flag evaluations in question."
        required: true
        type: "string"
        x-exportParamName: "EnvId"
      - name: "flagKey"
        in: "path"
        description: "The key of the flag we want metrics for."
        required: true
        type: "string"
        x-exportParamName: "FlagKey"
      responses:
        200:
          description: "Returns timeseries data and all sdk versions."
          schema:
            $ref: "#/definitions/StreamSDKVersion"
        403:
          description: "This is a beta API, you must pass beta in the LD-API-Version\
            \ header to use it."
          schema:
            $ref: "#/definitions/UsageError"
        404:
          description: "The environment or flag you requested could not be found"
          schema:
            $ref: "#/definitions/EvaluationUsageError"
  /tokens:
    get:
      tags:
      - "Access tokens"
      summary: "Returns a list of tokens in the account."
      operationId: "getTokens"
      parameters:
      - name: "showAll"
        in: "query"
        description: "If set to true, and the authentication access token has the\
          \ \"Admin\" role, personal access tokens for all members will be retrieved."
        required: false
        type: "boolean"
        x-exportParamName: "ShowAll"
        x-optionalDataType: "Bool"
      responses:
        200:
          description: "Tokens response."
          schema:
            $ref: "#/definitions/Tokens"
        401:
          description: "Invalid access token."
    post:
      tags:
      - "Access tokens"
      summary: "Create a new token."
      operationId: "postToken"
      parameters:
      - in: "body"
        name: "tokenBody"
        description: "Create a new access token."
        required: true
        schema:
          $ref: "#/definitions/tokenBody"
        x-exportParamName: "TokenBody"
      responses:
        201:
          description: "Token response."
          schema:
            $ref: "#/definitions/Token"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        409:
          description: "Status conflict."
  /tokens/{tokenId}:
    get:
      tags:
      - "Access tokens"
      summary: "Get a single access token by ID."
      operationId: "getToken"
      parameters:
      - name: "tokenId"
        in: "path"
        description: "The access token ID."
        required: true
        type: "string"
        x-exportParamName: "TokenId"
      responses:
        200:
          description: "Token response."
          schema:
            $ref: "#/definitions/Token"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
    delete:
      tags:
      - "Access tokens"
      summary: "Delete an access token by ID."
      operationId: "deleteToken"
      parameters:
      - name: "tokenId"
        in: "path"
        description: "The access token ID."
        required: true
        type: "string"
        x-exportParamName: "TokenId"
      responses:
        204:
          description: "Action completed successfully."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Access tokens"
      summary: "Modify an access token by ID."
      operationId: "patchToken"
      parameters:
      - name: "tokenId"
        in: "path"
        description: "The access token ID."
        required: true
        type: "string"
        x-exportParamName: "TokenId"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Token response."
          schema:
            $ref: "#/definitions/Token"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /tokens/{tokenId}/reset:
    post:
      tags:
      - "Access tokens"
      summary: "Reset an access token's secret key with an optional expiry time for\
        \ the old key."
      operationId: "resetToken"
      parameters:
      - name: "tokenId"
        in: "path"
        description: "The access token ID."
        required: true
        type: "string"
        x-exportParamName: "TokenId"
      - name: "expiry"
        in: "query"
        description: "An expiration time for the old token key, expressed as a Unix\
          \ epoch time in milliseconds. By default, the token will expire immediately."
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Expiry"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Token response."
          schema:
            $ref: "#/definitions/Token"
        400:
          description: "Invalid request body."
        401:
          description: "Invalid access token."
  /account/relay-auto-configs:
    get:
      tags:
      - "Relay proxy configurations"
      summary: "Returns a list of relay proxy configurations in the account."
      operationId: "getRelayProxyConfigs"
      parameters: []
      responses:
        200:
          description: "Relay proxy configs response."
          schema:
            $ref: "#/definitions/RelayProxyConfigs"
    post:
      tags:
      - "Relay proxy configurations"
      summary: "Create a new relay proxy config."
      operationId: "postRelayAutoConfig"
      parameters:
      - in: "body"
        name: "relayProxyConfigBody"
        description: "Create a new relay proxy configuration"
        required: true
        schema:
          $ref: "#/definitions/relayProxyConfigBody"
        x-exportParamName: "RelayProxyConfigBody"
      responses:
        201:
          description: "Relay proxy config response."
          schema:
            $ref: "#/definitions/RelayProxyConfig"
        400:
          description: "Invalid request body."
        403:
          description: "Access to the requested resource was denied."
  /account/relay-auto-configs/{id}:
    get:
      tags:
      - "Relay proxy configurations"
      summary: "Get a single relay proxy configuration by ID."
      operationId: "getRelayProxyConfig"
      parameters:
      - name: "id"
        in: "path"
        description: "The relay proxy configuration ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        200:
          description: "Relay proxy config response."
          schema:
            $ref: "#/definitions/RelayProxyConfig"
        404:
          description: "Invalid resource specifier."
    delete:
      tags:
      - "Relay proxy configurations"
      summary: "Delete a relay proxy configuration by ID."
      operationId: "deleteRelayProxyConfig"
      parameters:
      - name: "id"
        in: "path"
        description: "The relay proxy configuration ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        204:
          description: "Action completed successfully."
        400:
          description: "Invalid request body."
        404:
          description: "Invalid resource specifier."
    patch:
      tags:
      - "Relay proxy configurations"
      summary: "Modify a relay proxy configuration by ID."
      operationId: "patchRelayProxyConfig"
      parameters:
      - name: "id"
        in: "path"
        description: "The relay proxy configuration ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "patchDelta"
        description: "Requires a JSON Patch representation of the desired changes\
          \ to the project. 'http://jsonpatch.com/'"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/PatchOperation"
        x-exportParamName: "PatchDelta"
      responses:
        200:
          description: "Relay proxy config response."
          schema:
            $ref: "#/definitions/RelayProxyConfig"
        400:
          description: "Invalid request body."
        404:
          description: "Invalid resource specifier."
        409:
          description: "Status conflict."
  /account/relay-auto-configs/{id}/reset:
    post:
      tags:
      - "Relay proxy configurations"
      summary: "Reset a relay proxy configuration's secret key with an optional expiry\
        \ time for the old key."
      operationId: "resetRelayProxyConfig"
      parameters:
      - name: "id"
        in: "path"
        description: "The relay proxy configuration ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "expiry"
        in: "query"
        description: "An expiration time for the old relay proxy configuration key,\
          \ expressed as a Unix epoch time in milliseconds. By default, the relay\
          \ proxy configuration will expire immediately"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Expiry"
        x-optionalDataType: "Int64"
      responses:
        200:
          description: "Relay proxy config response."
          schema:
            $ref: "#/definitions/RelayProxyConfig"
        400:
          description: "Invalid request body."
        404:
          description: "Invalid resource specifier."
  /:
    get:
      tags:
      - "Root"
      description: "You can issue a GET request to the root resource to find all of\
        \ the resource categories supported by the API."
      operationId: "getRoot"
      parameters: []
      responses:
        200:
          description: "A list of links to available resources in the API."
          schema:
            $ref: "#/definitions/Links"
        401:
          description: "Invalid access token."
  /integrations:
    get:
      tags:
      - "Integrations"
      summary: "Get a list of all configured audit log event integrations associated\
        \ with this account."
      operationId: "getIntegrations"
      parameters: []
      responses:
        200:
          description: "Integrations response."
          schema:
            $ref: "#/definitions/Integrations"
[...]
